@use '../helpers/vars.scss' as vars;
nav {
  z-index: 5;
  height: 70px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;

  a {
    position: relative;
    font-family: vars.$code-font;
    font-size: 18px;
    font-weight: 600;

    &::after {
      content: '';

      position: absolute;
      bottom: -4px;
      display: block;
      width:  4px;
      height: 4px;

      background-color: vars.$accent-color;
      transition: all 0.4s;
    }
    &:hover::after {
      width: 80px;
    }
  }
}